/* doesn't do anything */
.div {
	color: #1c2758;
}

.advice-toggle-short {
	border-width: 2.5px;
	border-color: #1c2758;
	border-style: solid;
	height: 50px;
	border-radius: 25px;
	padding-left: 5%;
}
