div {
	color: #1c2758;
	font-family: "San Francisco", "SF Pro Text", -apple-system, system-ui,
		sans-serif;
}

.plus {
	float: right;
	width: 20px;
	padding-top: 15px;
}

.advice-toggle-short {
	border-width: 2.5px;
	border-color: #1c2758;
	border-style: solid;
	height: 50px;
	border-radius: 25px;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 15px;
}

.advice-short-closed {
	font-weight: 600;
	float: left;
}

.advice-toggle-long {
	border-width: 2.5px;
	border-color: #1c2758;
	border-style: solid;
	background-color: #1c2758;
	color: white;
	border-radius: 25px;
	padding-left: 5%;
	margin-bottom: 15px;
}

.advice-short-open {
	font-weight: 600;
}
